name: Branch Protection Rule - Created
on:
  branch_protection_rule:
    types:
      - created
jobs:
  print-context:
    concurrency: branch_protection_rule_created-${{ github.ref }}
    uses: ./.github/workflows/wc-print-context.yml
