name: Discussion - Unlocked
on:
  discussion:
    types:
      - unlocked
jobs:
  print-context:
    concurrency: discussion_unlocked-${{ github.ref }}
    uses: ./.github/workflows/wc-print-contexts.yml
