name: Project Card - Deleted
on:
  project_card:
    types:
      - deleted
jobs:
  print-context:
    concurrency: project_card_deleted-${{ github.ref }}
    uses: ./.github/workflows/wc-print-contexts.yml
