name: Project Card - Moved
on:
  project_card:
    types:
      - moved
jobs:
  print-context:
    concurrency: project_card_moved-${{ github.ref }}
    uses: ./.github/workflows/wc-print-contexts.yml
