name: Pull Request Target - Closed
on:
  pull_request_target:
    types:
      - closed
jobs:
  print-context:
    concurrency: pull_request_target_closed-${{ github.ref }}
    uses: ./.github/workflows/wc-print-context.yml
