name: Pull Request Target - Review Request Removed
on:
  pull_request_target:
    types:
      - review_request_removed
jobs:
  print-context:
    concurrency: pull_request_target_review_request_removed-${{ github.ref }}
    uses: ./.github/workflows/wc-print-context.yml
