name: Pull Request - Closed
on:
  pull_request:
    types:
      - closed
jobs:
  print-context:
    concurrency: pull_request_closed-${{ github.ref }}
    uses: ./.github/workflows/wc-print-context.yml
