name: Pull Request Target - Auto Merge Enabled
on:
  pull_request_target:
    types:
      - auto_merge_enabled
jobs:
  print-context:
    concurrency: pull_request_target_auto_merge_enabled-${{ github.ref }}
    uses: ./.github/workflows/wc-print-contexts.yml
